<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <!---日志级别-->
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
    <!-- name属性指定其名称,type则是log4net.Appender命名空间的一个类的名称,意思是指定使用哪种介质-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\"/>
      <!-- 输出到什么目录-->
      <appendToFile value="true"/>
      <!-- 是否到附加到文件中-->
      <rollingStyle value="Date"/>
      <!-- 文件创建方式，以日期的方式记录-->
      <datePattern value="yyyy-MM-dd&quot;.txt&quot;"/>
      <!-- 文件格式-->
      <staticLogFileName value="false"/>
      <!--否采用静态文件名，文件名是否唯一-->
      <layout type="log4net.Layout.PatternLayout">
        <!---日志内容布局-->
        <param name="ConversionPattern" value="%date [%thread] (%file:%line) %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <!---另一种Appender-->
    <appender name="DateFileInfoAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\log.txt"/>
      <!-- 输出到什么文件-->
      <appendToFile value="true"/>
      <!-- 是否到附加到文件中-->
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10"/>
      <!--日志文件的最大个数-->
      <maximumFileSize value="10MB"/>
      <!-- 单个日志文件最大的大小-->
      <staticLogFileName value="true"/>
      <!--否采用静态文件名，文件名是否唯一-->
      <layout type="log4net.Layout.PatternLayout">
        <!---日志内容布局-->
        <param name="ConversionPattern" value="%date [%thread] (%file:%line) %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>

